@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(0 0% 3.9%);

  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 3.9%);

  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 3.9%);

  --primary: hsl(0 0% 9%);
  --primary-foreground: hsl(0 0% 98%);

  --secondary: hsl(0 0% 96.1%);
  --secondary-foreground: hsl(0 0% 9%);

  --muted: hsl(0 0% 96.1%);
  --muted-foreground: hsl(0 0% 45.1%);

  --accent: hsl(0 0% 96.1%);
  --accent-foreground: hsl(0 0% 9%);

  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 98%);

  --border: hsl(0 0% 89.8%);
  --input: hsl(0 0% 89.8%);
  --ring: hsl(0 0% 3.9%);

  --radius: 0.5rem;
}

.dark {
  --background: hsl(0 0% 3.9%);
  --foreground: hsl(0 0% 98%);

  --card: hsl(0 0% 3.9%);
  --card-foreground: hsl(0 0% 98%);

  --popover: hsl(0 0% 3.9%);
  --popover-foreground: hsl(0 0% 98%);

  --primary: hsl(0 0% 98%);
  --primary-foreground: hsl(0 0% 9%);

  --secondary: hsl(0 0% 14.9%);
  --secondary-foreground: hsl(0 0% 98%);

  --muted: hsl(0 0% 14.9%);
  --muted-foreground: hsl(0 0% 63.9%);

  --accent: hsl(0 0% 14.9%);
  --accent-foreground: hsl(0 0% 98%);

  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(0 0% 98%);

  --border: hsl(0 0% 14.9%);
  --input: hsl(0 0% 14.9%);
  --ring: hsl(0 0% 83.1%);
}

@theme inline {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >= --theme(--breakpoint-sm)) {
    max-width: --theme(--breakpoint-sm);
  }
  @media (width >= --theme(--breakpoint-md)) {
    max-width: --theme(--breakpoint-md);
  }
  @media (width >= --theme(--breakpoint-lg)) {
    max-width: --theme(--breakpoint-lg);
  }
  @media (width >= --theme(--breakpoint-xl)) {
    max-width: --theme(--breakpoint-xl);
  }
  @media (width >= --theme(--breakpoint-2xl)) {
    max-width: 1400px;
  }
}

@layer utilities {
  html,
  body,
  :root {
    height: 100%;
  }
}

@layer utilities {
  .mantine-Popover-dropdown {
    max-height: 32rem !important;
  }

  .bn-color-picker-dropdown {
    top: -110px !important;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
